#container{
    display: flex;
    width: 50%;
    background-color: rgb(211, 176, 123);
    margin: 0 auto;
}

.container1{
    width: 30%;
    height: 100%;
}

.container2{
    width: 70%;
    height: 100%;

}